[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Exec="/bin/chmod 600 ${HOME}/.smb/fusesmb.conf ; /usr/bin/fusesmb ${HOME}/WindowsNetwork"
Name=fusesmb
